
.notification {
  margin: 10px 0;
  padding: 10px;
  border-radius: 3px 3px 3px 3px;
}


.error {
  color: #D8000C;
  background-color: #FFBABA;
}

.success {
    color: #270;
    background-color: #DFF2BF;
  }

.hidden {
  opacity: 0;
  pointer-events: none;
  padding: 0px;
}

html {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  margin: 25px;
}
body {
  width: 640px;
}