
.notification {
  margin: 10px 0;
  padding: 10px;
  border-radius: 3px 3px 3px 3px;
}


.error {
  color: #D8000C;
  background-color: #FFBABA;
}

.success {
    color: #270;
    background-color: #DFF2BF;
  }

.hidden {
  opacity: 0;
  pointer-events: none;
  padding: 0px;
}

.likeButton {
  border-radius: 5px;
  cursor: pointer;
  background: #f4eeff;
}

.deleteButton {
  border-radius: 5px;
  cursor: pointer;
  background: #f76b8a;
}

.blogButton {
  border-radius: 5px;
  border-color: #424874;
  cursor: pointer;
  width: 80%;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  background: #cadefc; 
}

html {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  margin: 25px;
}
body {
  width: 640px;
}